/* non classes */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;

}
h2{
    font-size: 48px;
    font-weight: bolder;
    color: #f6faf8;
    padding-bottom: 30px;
}
header{
    font-size: 24px;
    color: #f6faf8; 
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 80px;
}
a,p{
    font-size: 18px;
    color: #e5e7eb;
}
ul,a{
    display: flex;
    gap: 25px;
    list-style: none;
    text-decoration: none;
}
h2,p,button{
 align-self: flex-start;   
}
button{
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    padding: 4px 20px 4px 20px;
}
/* heading content */
.heading{
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}
.header-img{
  align-self: end;
  margin-top: -25%;

}
.info{
    width: 450px;
    margin-top: -36px;
}
/* the width keeps the objects from going over the inputted width */
.container{
    width: 1100px;
    margin: 0 auto;
    padding: 0 16px;
}

.heading .container{
    width: 900px;
    padding-bottom: 40px;
}
 
/* this keeps the material in the main to stay center 
main content info */
main{
    width: 100%;
    text-align: center;
    background-color: #f6faf8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mid1{
    padding: 70px;
}
.mid1 .container{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
} 
.mid1 .container .info{
    max-width: 200px;

}
.mid1 .container img{
    width: 200px;
}
.mid1 h2, .mid1 .container p{
    color: black;
}
.mid2{
    background-color: #e5e7eb;
    width: 100%;
}

.mid2 .container{
   
    padding: 65px 0 65px 0;
    width: 900px;
}
.mid2 .container p{
color: black;
font-style: italic;
text-align: justify;
font-size: 36px;

}
.mid2 .container #author{
    color: black;
    font-weight: bold;
    text-align: end;
    
    }
.mid3{
    padding: 50px;
    background-color: #3882f6;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
    border-radius: 10px;
}


footer{
    padding: 25px;
}