 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;

}
.heading{
    padding: 0 30px 0 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
}
h2{
    font-size: 48px;
    font-weight: bolder;
    color: #f6faf8;
    padding-bottom: 30px;
}
header{
    font-size: 24px;
    color: #f6faf8; 
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 80px;
}
a,p{
    font-size: 18px;
    color: #e5e7eb;
}
button{
    background-color: #3882f6;
    color: #e5e7eb;
    border-radius: 8px;
    padding: 4px 20px 4px 20px;
}
.header-img{
  align-self: end;
  margin-top: -25%;

}
.info{
    width: 450px;
    margin-top: -36px;
}


.container{
    display: flex;
    flex-direction: column;
    width: 900px;
    padding-bottom: 40px;
}
ul,a{
    display: flex;
    gap: 25px;
    list-style: none;
    text-decoration: none;
}
h2,p,button{
 align-self: flex-start;   
} 

main{
    width: 100%;
    text-align: center;
}
.mid1{
    background-color: white;
    
}
.container2{
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
}
.container2 .info{
    max-width: 200px;
}
.mid1 h2, .container2 p{
    color: black;
}
